*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container-nav{
    background-color: rgb(255, 105, 0);
    height: 70px;
}    
.flex-containernav{
    height: 100%;
    width: 1200px;
    margin: auto; 
    display: flex;   
}
/*Inizio stilizzazione gender*/
.gender{
    width: calc(30%);
    height: 100%;
}
.gender ul{
    list-style: none;
   display: flex;
   padding-top: 25px;
  
}
.gender ul li a{
    text-decoration: none;
    color: white;
}
.gender ul li{
    padding-left: 10px;
}
/*Fine stilizzazione gender*/
/*Inizio stilizzazione logo*/
.logo{
    width: calc(40%);
    height: 100%;
    display: flex;
}
.logo-b{
    height: 25px;
    margin-top:20px;
    padding-left: 200px;
}
/*Fine stilizzazione logo*/
/*Inizio stilizzazione Profile*/
.profile{
    width: calc(30%);
    height: 100%;
    display: flex;
    padding-left: 280px;
}
.profile a{
    color: white;
    padding-left: 10px;
    padding-top: 20px;
    justify-content: flex-end;
}
/*Fine stilizzazione logo*/
/*Inizio stilizzazione main*/
.container-main{
    width: 1200px;
    height: 1160px;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
/*Inizio colonne */
.col1, .col2, .col3, .col4, .col5, .col6{ 
    height: 600px;
    width: 350px;
    position: relative;
}
/*Fine creazione colonne */
/*Inizio stilizzazione colonne */
.model{  
    width:100%;
}
/*Fine stilizzazione colonne */
/*Inizio stilizzazione testo prezzo marca  */
.marca{
    font-size: 12px;
}
.price-red{
    color: red;
    font-size: 12px;
}
p .price-notsale{
    text-decoration: line-through;
    font-size: 11px;
}
/*Fine stilizzazione testo prezzo marca */
/*Inizio introduzione cartellini sconto */
.sales{
    width: 35px;
    height: 20px;
    background-color: red;
    position: absolute;
    bottom: 120px;
}
h6{
    color: white;
    text-align: center;
    font-size: 11px;
    padding-top: 4px;
}
.sustain{
    width: 75px;
    height: 20px;
    background-color: green;
    position: absolute;
    bottom: 120px;
    left: 38px;
}
.sustain1{
    width: 75px;
    height: 20px;
    background-color: green;
    position: absolute;
    bottom: 120px; 
}
.heart{
    height: 50px;
    width: 50px;

    position: absolute;
    top: 7px;
    right: 0px;
}
.heartred{
    font-size: 30px;
    padding-left: 10px;
    color: black;
}
/*Fine introduzione cartellini  */
/*Inizio footer*/
.containerfooter{
    width: 100%;
    background-color: black;
    height: 100px;
}
.flexfooter{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.azienda{
  width: calc(80% / 2);  
}
.social{
    width: calc(80% / 2);   
}
.coda{
    color: white;
    font-size: 13px;
    padding-left: 10px;
}
.coda-info, .coda-info1{
    color: white;
    padding-left: 10px;
    font-size: 10px;
    text-decoration: none;
}
.coda1{
    color: white;
    font-size: 13px;
    padding-left: 340px;
}
.logosocial{
    color: white;
}
.socialfooter{
    padding-left: 345px;
    padding-top: 10px;
}
/*parte hover*/
.heartred:hover{
    color: red;
}
.coda-info:hover{
    color: rgb(255, 105, 0);
}
.logosocial:hover{
    color: rgb(255, 105, 0);
}
a:hover{
    color: black;
}



